<p style="font-size: 1.1em;"> Hello <%= @user.first_name %> </p>
<p style="color: #cccccc"> <%= @admin_user.first_name %> <%= @admin_user.last_name %> has added you to the business team for: </p>

<p>
<a href="http://www.thenitespot.com/spots/<%= @spot.slug %>"
   style="color: white; display: block;"><%= @spot.name %></a>
<%= @spot.address %>
</p>

<p>You can now sign in to access their business tools</p>