
<table>
 		<tr>
 		  <td>User</td>
 		  <td><%= @user.present? ? "#{@user.email}" : "Anomyous" %></td>
 		</tr>

 		<tr>
 		  <td>Spot</td>
 		  <td><%= @spot.name %></td>
 		</tr>


 		<tr>
 		  <td>Spot id</td>
 		  <td><%= @spot.id %></td>
 		</tr>


 		<tr>
 		  <td>Reason</td>
 		  <td><%= @report.report_type %></td>
 		</tr>

 		<tr>
 		  <td>@</td>
 		  <td><%= @report.created_at %></td>
 		</tr>
</table>
